/*************************************************************************** 
  This is the stylesheet used for Coursera Data Science Specialization
  Captstone Project - Rpres Slides
***************************************************************************/
<style>
.reveal title {
  word-wrap: normal;
  -moz-hyphens: none;
}
.reveal h1, {
  word-wrap: normal;
  -moz-hyphens: none;
}

.reveal h2 {
  word-wrap: normal;
  -moz-hyphens: none;
  font-size: 0.5em
}

.reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
  font-size: 1.25em;
}

.reveal ul {
  font-size: 0.6em;
  line-height: 150%
}

.reveal ol {
  font-size: 0.8em;
  line-height: 120%
}

.reveal li {font-size:1em;}

.small-code pre code {
  font-size: 0.7em;

}

.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}

.reveal table {
  border-width: 0.8px;
  border-spacing: 0.8px;
  border-style: dotted;
  border-color: gray;
  border-collapse: collapse;
  font-size: 0.4em;
}
.reveal table th {
  border-width: 1px;
  padding-left: 7px;
  padding-right: 10px;
  font-weight: bold;
  border-style: dotted;
  border-color: gray;
}

.reveal table td {
  border-width: 1px;
  padding-left: 7px;
  padding-right: 10px;
  border-style: dotted;
  border-color: gray;
}

</style>
